{% for hotel in hotels %}
    <div class="row">
        <div class="col col-name"> {{hotel.name}}</div>
        <div class="col col-mobile">{{hotel.mobile}}</div>
    </div>
    <div class="actions">
        <a href="{{path('viewHotel',{'id': hotel.hotel_id})}}"> Ver </a>
    </div>
{% endfor %}

