{% extends "layout.html.twig" %}

{% block content %}
    <div class="warning">{{message}}</div>
    <h1>{{title}}</h1>
    <div class="content">
        <div class="table">
            {% include "indexs/indexHotels.html.twig" %}
        </div>
    </div>
{% endblock %}
