{% extends "layout.html.twig" %}

{% block content %}
    <div class="warning">{{message}}</div>
    <h1>{{title}}</h1>
    <div class="content">
        <div class="table">
            {% if roomtypes is defined %}
               {% include "indexs/indexRoomTypes.html.twig" %}
            {% elseif hotels is defined %}
                {% include "indexs/indexHotels.html.twig" %}
            {% endif %}
        </div>
    </div>
{% endblock %}
