<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    <div class="header">
      <div class="col-md-4 logo_left">
        <img src="/img/logo_blanco.png"  width="100px" height="100px"/><
      </div>
      <div class="col-md-4 titles">
        <h1>FACULTAD DE INGENIERIA</h1>
        <h2>UNIVERSIDAD NACIONAL AUTÓNOMA DE MÉXICO </h2>
        <h2>Gestor Hotelero"Las Perlas"</h2>
      </div>
      <div class="col-md-4 logo_right">
        <img src="/img/blanco_unam.png" width="100px" height="100px" /><
      </div>
    </div>
    <div class="menu">

    </div>
    <div class="content">
       {%block content %}  {% endblock%}
    </div>
    <div class="footer">
        <h3>Admistración de Proyectos de Software<br>Facultad de Ingeniería</h3>
    </div>
</body>
</html>
