<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/main.css" type="text/css" media="all" />
</head>
<body>
    <div id="header">
      <div class="col-md-4 logo_left">
        <img src="/img/logo_blanco.png"  width="100px" height="100px"/>
      </div>
      <div class="col-md-4 titles">
        <h2>FACULTAD DE INGENIERIA</h3>
        <h3>UNIVERSIDAD NACIONAL AUTÓNOMA DE MÉXICO </h333>
        <h4>Gestor Hotelero "Las Perlas"</h4>
        <h5><a href="{{ path('home') }}">Inicio</a></h5>
      </div>
      <div class="col-md-4 logo_right">
        <img src="/img/blanco_unam.png" width="100px" height="100px" />
      </div>
    </div>
    <div id="content">
       {%block content %}  {% endblock%}
    </div>
    <div id="footer">
        {% block footer %}
            <i>Admistración de Proyectos de Software<br>Facultad de Ingeniería</i>
            <i>Hotel las perlas S.A. de C.V.</i>
        {% endblock %}
    </div>
</body>
</html>
